<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Itens Necessários Gerados com Sucesso!</h1>
        <p>Clique no botão abaixo para iniciar o download:</p>

        <button onclick="iniciarDownload()" class="btn">Iniciar Download</button>
        <button onclick="window.location.href='{{ url_for('index') }}'" class="btn">Voltar para a Página Inicial</button>
    </div>

    <script>
        function iniciarDownload() {
            // Cria um elemento de link e simula um clique para iniciar o download
            let downloadLink = document.createElement('a');
            downloadLink.href = "{{ url_for('download', filename='Itens_Necessarios.xlsx') | safe }}";
            downloadLink.download = 'Itens_Necessarios.xlsx';
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        }
    </script>

</body>
</html>
